<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>
<!-- Page Content -->
    <div class="container">

        <div class="row" style="padding-left:-50px;">

            <div class="col-md-3">
                <div class="cd-dropdown-wrapper">     
            <a class="cd-dropdown-trigger dropdown-is-active" href="#0"><span class="glyphicon glyphicon-list"></span> Products</a>
            <nav class="cd-dropdown dropdown-is-active">
                <h2>Title</h2>
                <a href="#0" class="cd-close">Close</a>
                <ul class="cd-dropdown-content">
                    <li class="hidden">
                        <form class="cd-search">
                            <input type="search" placeholder="Search...">
                        </form>
                    </li>
                    <li class="has-children hidden">
                        <a href="http://codyhouse.co/?p=748">Clothing</a>

                        <ul class="cd-secondary-dropdown is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>
                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Clothing</a></li>
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Accessories</a>

                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0">Clothing</a></li>
                                    <li class="see-all"><a href="http://codyhouse.co/?p=748">All Accessories</a></li>
                                    <li class="has-children">
                                        <a href="#0">Beanies</a>

                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Accessories</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Benies</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Caps &amp; Hats</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Gifts</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Scarves &amp; Snoods</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#0">Caps &amp; Hats</a>

                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Accessories</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Caps &amp; Hats</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Beanies</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Caps</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Hats</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://codyhouse.co/?p=748">Glasses</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Gloves</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Jewellery</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Scarves</a></li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Bottoms</a>

                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0">Clothing</a></li>
                                    <li class="see-all"><a href="http://codyhouse.co/?p=748">All Bottoms</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Casual Trousers</a></li>
                                    <li class="has-children">
                                        <a href="#0">Jeans</a>

                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Bottoms</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Jeans</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Ripped</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Skinny</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Slim</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Straight</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#0">Leggings</a></li>
                                    <li><a href="#0">Shorts</a></li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Jackets</a>

                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0">Clothing</a></li>
                                    <li class="see-all"><a href="http://codyhouse.co/?p=748">All Jackets</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Blazers</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Bomber jackets</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Denim Jackets</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Duffle Coats</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Leather Jackets</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Parkas</a></li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Tops</a>

                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0">Clothing</a></li>
                                    <li class="see-all"><a href="http://codyhouse.co/?p=748">All Tops</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Cardigans</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Coats</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Polo Shirts</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Shirts</a></li>
                                    <li class="has-children">
                                        <a href="#0">T-Shirts</a>

                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Tops</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All T-shirts</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Plain</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Print</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Striped</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Long sleeved</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://codyhouse.co/?p=748">Vests</a></li>
                                </ul>
                            </li>
                        </ul> <!-- .cd-secondary-dropdown -->
                    </li> <!-- .has-children -->

                    {{# each categories }}
                    <li class="has-children">
                        <a href="http://codyhouse.co/?p=748">{{ this.name }}</a>

                        <ul class="cd-secondary-dropdown is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>
                            <li class="see-all"><a href="/">All products</a></li>
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Subcategories</a>

                                <ul class="is-hidden">
                                 {{# each this.subcategory }}
                                    <li><a href="/subcategory/{{ this }}/1">{{ this }}</a></li>
                                {{/each}}
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"></a>

                                <ul class="is-hidden">
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"></a>

                                <ul class="is-hidden">
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"></a>

                                <ul class="is-hidden">
                                </ul>
                            </li>
                        </ul> <!-- .cd-secondary-dropdown -->
                    </li> <!-- .has-children -->
                    {{/each}}

                    <li class="has-children hidden">
                        <a href="http://codyhouse.co/?p=748">Gallery</a>

                        <ul class="cd-dropdown-gallery is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>
                            <li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Gallery</a></li>
                            <li>
                                <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                                    <img src="img/img.png" alt="Product Image">
                                    <h3>Product #1</h3>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                                    <img src="img/img.png" alt="Product Image">
                                    <h3>Product #2</h3>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                                    <img src="img/img.png" alt="Product Image">
                                    <h3>Product #3</h3>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                                    <img src="img/img.png" alt="Product Image">
                                    <h3>Product #4</h3>
                                </a>
                            </li>
                        </ul> <!-- .cd-dropdown-gallery -->
                    </li> <!-- .has-children -->

                    <li class="has-children hidden">
                        <a href="http://codyhouse.co/?p=748">Services</a>
                        <ul class="cd-dropdown-icons is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>
                            <li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Services</a></li>
                            <li>
                                <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
                                    <h3>Service #1</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
                                    <h3>Service #2</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">
                                    <h3>Service #3</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">
                                    <h3>Service #4</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">
                                    <h3>Service #5</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">
                                    <h3>Service #6</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">
                                    <h3>Service #7</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-8" href="http://codyhouse.co/?p=748">
                                    <h3>Service #8</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-9" href="http://codyhouse.co/?p=748">
                                    <h3>Service #9</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-10" href="http://codyhouse.co/?p=748">
                                    <h3>Service #10</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">
                                    <h3>Service #11</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                            <li>
                                <a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">
                                    <h3>Service #12</h3>
                                    <p>This is the item description</p>
                                </a>
                            </li>

                        </ul> <!-- .cd-dropdown-icons -->
                    </li> <!-- .has-children -->

                    <li class="cd-divider">Divider</li>

                    <li><a href="http://codyhouse.co/?p=748">Page 1</a></li>
                    <li><a href="http://codyhouse.co/?p=748">Page 2</a></li>
                    <li><a href="http://codyhouse.co/?p=748">Page 3</a></li>
                </ul> <!-- .cd-dropdown-content -->
            </nav> <!-- .cd-dropdown -->
        </div> <!-- .cd-dropdown-wrapper -->
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="https://www.dronebuyersclub.com/wp-content/uploads/2016/11/DJI-Mavic-Pro-800x300.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://droneracingaustralia.com/wp-content/uploads/2016/06/D1-Millenium-Falcon-800x300.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://i1.wp.com/bestrobotsguide.com/wp-content/uploads/2016/12/best-flying-drones.jpg?fit=800%2C300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    {{# each bestProductChunks }}
                    {{# each this }}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ this.imagePath }}" alt="">
                            <div class="caption">
                                {{#startsWith ../../currencyName "usd"}}
                                <h4 class="pull-right">{{../../symbol}} {{ this.price.usd }}</h4>
                                {{else}}
                                <h4 class="pull-right">{{../../symbol}} {{ this.price.eur }}</h4>
                                {{/startsWith}}
                                <h4><a href="#">First Product</a>
                                </h4>
                                <p>{{../../__ this.description}}</p>
                            </div>
                            <div class="ratings clearfix">
                                <p class="pull-right">{{ this.review.length }} reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                                <a href="/product/{{ this._id }}" class="btn btn-info pull-left" role="button">View product</a>
                                <a href="/add-to-cart/{{ this._id }}" class="btn btn-info pull-right" role="button">Add to cart</a>
                            </div>
                            
                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

<div class="container" style="padding-top:75px;padding-bottom:75px;">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Carousel Product Cart Slider</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {{#each carouselProductChunks }}
                        {{#each this}}
                        {{#lte @index 3}}
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="{{ this.imagePath }}" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>{{ this.title }}</h5>
                                            {{#startsWith ../../currencyName "usd"}}
                                            <h5 class="price-text-color">{{../../symbol}} {{ this.price.usd }}</h5>
                                            {{else}}
                                            <h5 class="price-text-color">{{../../symbol}} {{ this.price.eur }}</h5>
                                            {{/startsWith}}
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="/add-to-cart/{{ this._id }}" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/product/{{ this._id }}" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/lte}}
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                    {{#each carouselProductChunks }}
                    {{#each this}}
                    {{#gte @index 4}}
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="{{ this.imagePath }}" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>{{ this.title }}</h5>
                                            {{#startsWith ../../currencyName "usd"}}
                                            <h5 class="price-text-color">
                                                {{../../symbol}} {{ this.price.usd }}</h5>
                                            {{else}}
                                            <h5 class="price-text-color">
                                                {{../../symbol}} {{ this.price.eur }}</h5>
                                            {{/startsWith}}    
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="/add-to-cart/{{ this._id }}" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="/product/{{ this._id }}" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/gte}}
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Carousel Product Cart Slider</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic"
                            data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Sample Product</h5>
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product Example</h5>
                                            <h5 class="price-text-color">
                                                $249.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Next Sample Product</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product with Variants</h5>
                                            <h5 class="price-text-color">
                                                $199.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Grouped Product</h5>
                                            <h5 class="price-text-color">
                                                $249.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Product with Variants</h5>
                                            <h5 class="price-text-color">
                                                $149.99</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
